html,
body{
    font-family: Arial;
    font-size: large;
    margin: 0 auto;
    padding: 0;
}
header{
    height:4vh;
    width: 100%;
    color:white;
    text-align: center;
    padding-top:8px;
    background-color: #45a049;
}
.container{
    margin:10px;
}
.message_box{
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
}
.timeBlock{
    font-size: xx-small;
    display: block;
}
.message{
    padding: 10px;
    float:left;
    padding:5px;
    width: 60%;
    height: auto;
    word-wrap: break-word;
    overflow: auto;
    border: 1px solid #4caf50;
    background-color: #6daf4a;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: white;
}
.message.m_self{
    float:right;
    background-color: #eeeeee;
    border: 1px solid #ded9d3;
    color:black;
}
.message.m_connect{
    font-size: xx-small!important;
    background-color: lightgoldenrodyellow !important;
    color: #4a6267;
    width: 95% !important;
    border: 1px solid lightgoldenrodyellow !important;
    float:left !important;
}
.m_connect{

}
input[type="text"]{
    width: 105%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size:12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input[type=submit] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius:0px 4px 4px 0px;
    cursor: pointer;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=submit]:hover,input[type=submit]:disabled {
    background-color: #72a06c;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.info{
    font-size: xx-small;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.modal-box{
    display: block;
    background: goldenrod;
    padding: 5px;
    min-height: 550px;
    z-index: 999;
    opacity: 0.7;
}
form[name='loginForm']{
    margin-top:200px;
}
.hint{
    font-size: xx-small;
    font-style: italic;
}